run = "./pinata-go-cli"
hidden = ["main"]
compile = "go build -o pinata-go-cli"

[languages.go]
pattern = "**/*.go"

[languages.go.languageServer]
start = "gopls"

[nix]
channel = "stable-22_11"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "./pinata-go-cli"]
build = ["sh", "-c", "go build -o pinata-go-cli"]
